* {
    margin: 0;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    background-color: #add4d0;
}

main {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 1255px;
}

.campos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1225px;
    margin-top: 10px;
}

label {
    font-family: 'Averia Libre';
    color: white;
    font-size: 36px;
    font-weight: 43px;
    line-height: 43px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
}


input {
    font-family: 'Averia Libre';
    color: #3F92C5;
    width: 586px;
    height: 51px;
    margin-bottom: 30px;
    margin-left: 20px;
    font-size: 36px;
    font-weight: 400;
}

.carregando {
    display: none;
}